doctype 5
html
	head
		title Git Some!
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		link(rel="stylesheet", type="text/css", href="/static/css/gitsome.css")
	body
		div#wrapper
			header#main-header
				h1: a(href="/") Git Some!
				menu
					a(href="/login") Login
			section#content
				block body
		block scripts
			script(src="/static/js/jquery.js")