doctype 5
html
	head
		title Glacius
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		link(rel="stylesheet", type="text/css", href="/static/css/glacius.css")
	body
		header#header.navbar.navbar-inverse.navbar-static-top
			div.navbar-inner
				a.logo(href="/")
					img#logo(src="/static/images/glacius-transparent.png", title="Home")
				a.brand.external-brand(href="#", title="Glacius") Glacius
				ul.nav
					li.active: a(href="#") Home
					li: a(href="#") Activity
					li: a(href="#") Repos
		div.container-fluid
			section#content
				block body
		block scripts
			script(src="/static/js/jquery.js")