@import "bootstrap/bootstrap";

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
}
header, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

#main-header {
	background-color: black;
	padding: 10px;
	h1 {
		#logo {
			height: 100px;
		}
		a {
			display: block;
			float: left;
		}
	}
}