@import "bootstrap/bootstrap";

#header {
	.logo {
		float: left;
		img {
			height: 40px;
		}
	}
	.external-brand {
		float: right;
		color: lighten(@navbarInverseBackground, 10%);
		text-shadow: 1px 1px 1px @navbarInverseLinkColor;
		.transition(all 200ms);
		&:hover {
			text-shadow: 0 0 2px fade(@navbarInverseLinkColorHover, 80);
			color: @navbarInverseLinkColorHover;
		}
	}
}